# Copy this file to `.env` and fill in your MySQL credentials
DB_HOST=mysql-c3e5021-abhisharma64204-27aa.b.aivencloud.com
DB_PORT=21257
DB_USER=avnadmin
DB_PASSWORD=AVNS_1xe_HBGgItcaK4f0uJD
DB_NAME=defaultdb

# Backend server
PORT=5000

# Frontend client URL (for CORS / socket.io)
CLIENT_URL=http://localhost:3000
